---
layout: archive
permalink: /about
title: 
---

<!-- {% include menu.html %} -->
<style>
.flex-container {
  display: flex;
  /*background-color: DodgerBlue;*/
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.category-heading{
	color: #161F6D; 
	padding-left:20px;
}
</style>

<div>
	<h5>
		<a class="btn-inverse" href="/">MAIN</a>
		<a class="btn-inverse" href="thoughts.html">THOUGHTS</a>
		<a class="btn" href="about.html">ABOUT</a>
		<a class="btn-inverse" href="projects.html">PROJECTS</a>
		<a class="btn-inverse" href="contact.html">CONTACT</a>
	</h5>
</div>

<div style="background-color:;color:;padding:20px;">
	<div style="">
		<p style="font-size: 25px;">Who is BANG? </p>
	</div>
	<div style="">
	<!-- 	<img style="border-radius: 50px; float: right; width: 100%;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile"> -->
	</div>
</div>



<div style="display: inline-block; background-color: #FECD45">
	<h2 class="category-heading">Highlights</h2>
	<div class="flex-container">
	{% for post in site.posts %}
		{% if post.categories contains "highlights" %}
			{% include post-highlights.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
