---
layout: archive
permalink: /
title: 
---

<!-- {% include menu.html %} -->

<style>
.flex-container {
  display: flex;
  /*background-color: DodgerBlue;*/
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.category-heading{
	color: #161F6D; 
	padding-left:20px;
}
</style>

<div>
	<h5>
		<a class="btn" href="/">MAIN</a>
		<a class="btn-inverse" href="thoughts.html">THOUGHTS</a>
		<!-- <a class="btn-inverse" href="about.html">ABOUT</a> -->
		<a class="btn-inverse" href="projects.html">PROJECTS</a>
		<a class="btn-inverse" href="contact.html">CONTACT</a>
	</h5>
</div>

<!-- <div style="background-color:;color:;padding:20px;">
	<div style="">
		<p>Passionate about <strong>electronics, virtual reality,</strong> and <strong>games</strong>.<br>Currently interested in designing video games professionally.</p>
		<h4>Education and experience</h4>
		<p><strong>2021</strong> PhD in Engineering (innovation and technology management), University of Cambridge<br>
		<strong>2013</strong> B. Eng in Electronic Engineering, Universiti Sains Malaysia</p>
		<p><strong>2015</strong> Engineering Leadership Program (ELP) Engineer, National Instruments<br>
		<strong>2014</strong> Systems Engineer, GAMUDA</p>
	</div>
	<div style="">
		<img style="border-radius: 50px; float: right; width: 100%;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile">
	</div>
</div> -->

<div class="tilepic" style="background-color:;color:;padding-bottom:20px;">
	<div style="max-width: 600px; vertical-align: top; padding-right:20px; display: inline-block;">
		<p style="font-size: 25px; padding-bottom: 20px;">Passionate about <strong>electronics, virtual reality,</strong> and <strong>games</strong>.<br><br>Currently interested in designing video games professionally.</p>
		<h4>Education and experience</h4>
		<div>
			<p><strong>2021</strong> PhD in Engineering, University&nbsp;of&nbsp;Cambridge<br>
			<strong>2013</strong> B. Eng in Electronic Engineering, Universiti&nbsp;Sains&nbsp;Malaysia</p>
			<p><strong>2015</strong> Engineering Leadership Program (ELP) Engineer, National&nbsp;Instruments<br>
			<strong>2014</strong> Systems Engineer, GAMUDA</p>
		</div>
	</div>
	<div class="tilepic" style="max-width: 400px;">
		<img style="border-radius: 50px; float: right; width: 100%; max-width: 400px;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile">
	</div>
</div>


<div style="display: inline-block; background-color: #FECD45">
	<h2 class="category-heading">Highlights</h2>
	<div class="flex-container">
	{% for post in site.posts %}
		{% if post.categories contains "highlights" %}
			{% include post-highlights.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>

<div style="display: inline-block; background-color: #00ABE1">
	<h2 class="category-heading">Latest thoughts</h2>
	<div class="flex-container">
	{% for post in site.posts limit:3 %}
		{% if post.categories contains "article" %}
		{% include post-thoughts.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
