---
layout: archive
permalink: /
title: "Bang Ming Yong"
---

<div>
	<h5>
		<a style="padding: 10px;" href="/">MAIN</a>
		<a style="padding: 10px;" href="thoughts.html">THOUGHTS</a>
		<a style="padding: 10px;" href="about.html">ABOUT</a>
		<a style="padding: 10px;" href="projects.html">PROJECTS</a>
		<a style="padding: 10px;" href="contact.html">CONTACT</a>
	</h5>
</div>

<div style="background-color:black;color:white;padding:20px;">
	<div style="">
		<p>Recently completed my PhD in Engineering. Passionate about games, VR, electronics. Recently completed my PhD in Engineering. Passionate about games, VR, electronics. Recently completed my PhD in Engineering. Passionate about games, VR, electronics. Recently completed my PhD in Engineering. Passionate about games, VR, electronics. Recently completed my PhD in Engineering. Passionate about games, VR, electronics.</p>
		<h4>Education and experience</h4>
		<p><strong>2021</strong> PhD in Engineering (innovation and technology management), University of Cambridge<br>
		<strong>2013</strong> B. Eng in Electronic Engineering, Universiti Sains Malaysia</p>
		<p><strong>2015</strong> Engineering Leadership Program (ELP) Engineer, National Instruments<br>
		<strong>2014</strong> Systems Engineer, GAMUDA</p>
	</div>
	<div style="">
		<img style="border-radius: 50px; float: right; width: 100%;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile">
	</div>
</div>




<div style="display: inline-block; background-color: #ff7a59">
	<div class="tiles">
	<h2>Highlights</h2>
	{% for post in site.posts %}
		{% if post.categories contains "highlights" %}
			{% include post-highlights.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>

<div style="display: inline-block; background-color: #1a7a59">
	<div class="tiles">
	<h2>Latest thoughts</h2>
	{% for post in site.posts %}
		{% if post.categories contains "article" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
