---
layout: archive
permalink: /
title: 
---

<!-- {% include menu.html %} -->

<div>
	<h5>
		<a class="btn" href="/">MAIN</a>
		<a class="btn-inverse" href="thoughts.html">THOUGHTS</a>
		<a class="btn-inverse" href="about.html">ABOUT</a>
		<a class="btn-inverse" href="projects.html">PROJECTS</a>
		<a class="btn-inverse" href="contact.html">CONTACT</a>
	</h5>
</div>

<!-- <div style="background-color:;color:;padding:20px;">
	<div style="">
		<p>Passionate about <strong>electronics, virtual reality,</strong> and <strong>games</strong>.<br>Currently interested in designing video games professionally.</p>
		<h4>Education and experience</h4>
		<p><strong>2021</strong> PhD in Engineering (innovation and technology management), University of Cambridge<br>
		<strong>2013</strong> B. Eng in Electronic Engineering, Universiti Sains Malaysia</p>
		<p><strong>2015</strong> Engineering Leadership Program (ELP) Engineer, National Instruments<br>
		<strong>2014</strong> Systems Engineer, GAMUDA</p>
	</div>
	<div style="">
		<img style="border-radius: 50px; float: right; width: 100%;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile">
	</div>
</div> -->

<div style="background-color:;color:;padding:20px;">
	<div class="tilepic" style="max-width: 600px; vertical-align: top;">
		<p style="font-size: 25px;">Passionate about <strong>electronics, virtual reality,</strong> and <strong>games</strong>.<br><br>Currently interested in designing video games professionally.</p>
		<h4>Education and experience</h4>
		<div>
			<p><strong>2021</strong> PhD in Engineering, University of Cambridge<br>
			<strong>2013</strong> B. Eng in Electronic Engineering, Universiti Sains Malaysia</p>
			<p><strong>2015</strong> Engineering Leadership Program (ELP) Engineer, National Instruments<br>
			<strong>2014</strong> Systems Engineer, GAMUDA</p>
		</div>
	</div>
	<div class="tilepic" style="max-width: 400px;">
		<img style="border-radius: 50px; float: right; width: 100%; max-width: 400px;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile">
	</div>
</div>


<div style="display: inline-block; background-color: #ff7a59">
	<div class="tiles">
	<h2>Highlights</h2>
	{% for post in site.posts %}
		{% if post.categories contains "highlights" %}
			{% include post-highlights.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>

<div style="display: inline-block; background-color: #1a7a59">
	<div class="tiles">
	<h2>Latest thoughts</h2>
	{% for post in site.posts limit:3 %}
		{% if post.categories contains "article" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
