---
layout: archive
permalink: /projects
title: 
---

<!-- {% include menu.html %} -->
<style>
.flex-container {
  display: flex;
  /*background-color: DodgerBlue;*/
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.category-heading{
	color: #161F6D; 
	padding-left:20px;
}
</style>

<div>
	<h5>
		<a class="btn-inverse" href="/">MAIN</a>
		<a class="btn-inverse" href="thoughts.html">THOUGHTS</a>
		<a class="btn-inverse" href="about.html">ABOUT</a>
		<a class="btn" href="projects.html">PROJECTS</a>
		<a class="btn-inverse" href="contact.html">CONTACT</a>
	</h5>
</div>

<div style="background-color:;color:;padding:20px;">
	<div style="">
		<p style="font-size: 25px;">A collection of projects.</p>
	</div>
	<div style="">
		<!-- <img style="border-radius: 50px; float: right; width: 100%;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile"> -->
	</div>
</div>

<div style="display: inline-block; background-color:#FECD45;border: 3px solid; border-radius: 20px; border-color:#FECD45; margin-bottom: 30px;">
	<h2 class="category-heading">Games</h2>
	<div class="flex-container">
	{% for post in site.posts %}
		{% if post.tags contains "games" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>

<div style="display: inline-block; background-color:#00ABE1;border: 3px solid; border-radius: 20px; border-color:#00ABE1; margin-bottom: 30px;">
	<h2 class="category-heading">Engineering</h2>
	<div class="flex-container">
	{% for post in site.posts %}
		{% if post.tags contains "engineering" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>

<div style="display: inline-block; background-color:#FECD45;border: 3px solid; border-radius: 20px; border-color:#FECD45; margin-bottom: 30px;">
	<h2 class="category-heading">Creative</h2>
	<div class="flex-container">
	{% for post in site.posts %}
		{% if post.tags contains "creative" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
<div style="display: inline-block; background-color:#00ABE1;border: 3px solid; border-radius: 20px; border-color:#00ABE1; margin-bottom: 30px;">
	<h2 class="category-heading">Management</h2>
	<div class="flex-container">
	{% for post in site.posts %}
		{% if post.tags contains "management" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
