---
layout: archive
permalink: /thoughts
title: 
---

<!-- {% include menu.html %} -->

<div>
	<h5>
		<a class="btn-inverse" href="/">MAIN</a>
		<a class="btn" href="thoughts.html">THOUGHTS</a>
		<a class="btn-inverse" href="about.html">ABOUT</a>
		<a class="btn-inverse" href="projects.html">PROJECTS</a>
		<a class="btn-inverse" href="contact.html">CONTACT</a>
	</h5>
</div>

<div style="background-color:;color:;padding:20px;">
	<div style="">
		<p style="font-size: 25px;">A collection of thoughts. </p>
	</div>
	<div style="">
	<!-- 	<img style="border-radius: 50px; float: right; width: 100%;" src="/images/Bang_profile_40p.jpg" alt="Bang Ming Yong profile"> -->
	</div>
</div>

<div style="display: inline-block; background-color: #00ABE1">
	<div class="tiles">
	<!-- <h2 style="color: #161F6D; padding:5px;">Thoughts</h2> -->
	{% for post in site.posts %}
		{% if post.categories contains "article" %}
			{% include post-grid.html %}
		{% endif %}
	{% endfor %}
	</div><!-- /.tiles -->
</div>
