/* ==========================================================================
   Bang Button
   ========================================================================== */


.button_active{
   padding: 10px;
   border: 2px solid black; 
   border-radius:10px;
}

.button_not_active{
   padding: 10px;
}
